h1 {
    font-size: 2rem;
    color:rgb(170, 55, 161);
}

body {
    font-family:'Playfair Display';
    background-color:black;
    background-image: linear-gradient(to bottom right, rgb(2, 2, 2), rgb(63, 49, 145, 0.39));
    height: 100vh;
    margin: 0;
    color: whitesmoke;
}

.highlight {
    background-color: black;
    font-weight: bold;
}

section p {
    line-height: 1.5rem;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
}

h2.subtitle {
    color: rgb(124, 124, 124);
    font-style: italic;
}

a[target="_blank"] {
    color: rgb(24, 153, 142);
    text-decoration: underline;
}

button:hover {
background-color: rgba(92, 33, 33, 0.747);
}

p::first-line {
    font-weight: bold;
}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
}

/* Container*/
.text-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

/* 3-column layout */
.event {
    display: grid;
    grid-template-columns: 120px 200px 1fr;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid rgba(116, 18, 155, 0.3);
    padding-bottom: 15px;
}

.phrase-title {
    color: rgb(24, 153, 142);
    font-weight: bold;
    text-transform: uppercase;
}

.description {
    color: white;
    margin: 0;
}

/* Navgation Menu*/
nav ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex; /*horizontal*/
    background-color: black;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: rgb(141, 226, 162);
    font-weight:bold;
}

nav ul li a:hover {
    background-color: rgba(63,49,145,0.5);
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* keeps it above other content */
}


/* FLEX CONTAINER #2: rows for refreance pictures*/
.text-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Flex items */
.event {
    flex: 1 1 250px;
    text-align: auto;
}

/* Scalable images*/
.event img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 2px solid rgb(44, 87, 143);
    padding: 5px;
    background-color: black;
}

/*fluid layout*/
.scalable-img {
    width: 40%;
    max-width: 600px;
    height: auto;
    border: 3px solid rgb(44, 87, 143);
    padding: 10px;
    margin:20px auto;
    display: block;
}

/*for mobilee to make images vertical*/
@media (max-width:700px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
}

/*making images larger on small screens*/
@media (max-width:500px){
    .scalable-img {
        width:80%;
    }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
