
h1 {
    font-size: 2rem;
    color:rgb(44, 87, 143);
}

body {
    font-family:'Playfair Display';
    background-color:black;
    background-image: linear-gradient(to bottom right, rgb(2, 2, 2), rgba(63, 49, 145, 0.39));
    height: 200vh;
    margin: 0;
}

.highlight {
    background-color: black;
    font-weight: bold;
}

#Blenderlogo {
    color: rgb(141, 226, 162);
    padding: 10px;
    border: 40px;
    padding: 10px
}

section p {
    line-height: 1.5rem;
}

h2.subtitle {
    color: rgb(124, 124, 124);
    font-style: italic;
}

a[target="_blank"] {
    color: rgb(153, 24, 24);
    text-decoration: underline;
}

button:hover {
background-color: blueviolet;
}

p:first-line {
    font-weight: bold;
}

/* Navgation Menu*/
nav ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex; /*horizontal*/
    background-color: black;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: rgb(141, 226, 162);
    font-weight:bold;
}

nav ul li a:hover {
    background-color: rgba(63,49,145,0.5);
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* keeps it above other content */
}


p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
}

/* FLEX CONTAINER #2: rows for refreance pictures*/
.text-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Flex items */
.event {
    flex: 1 1 250px;
    text-align: center;
}

/* Scalable images*/
.event img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 2px solid rgb(44, 87, 143);
    padding: 5px;
    background-color: black;
}

/*fluid layout*/
.scalable-img {
    width: 40%;
    max-width: 600px;
    height: auto;
    border: 3px solid rgb(44, 87, 143);
    padding: 10px;
    margin:20px auto;
    display: block;
}

/*for mobilee to make images vertical*/
@media (max-width:700px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
}

/*making images larger on small screens*/
@media (max-width:500px){
    .scalable-img {
        width:80%;
    }
}