h1 {
    font-size: 2rem;
    color:rgb(44, 87, 143);
}

body {
    background-color:black;
    background-image: linear-gradient(to bottom right, rgb(2, 2, 2), rgba(63, 49, 145, 0.39));
    height: 100vh;
    margin: 0;
}

.highlight {
    background-color: black;
    font-weight: bold;
}

#Blenderlogo {
    color: rgb(141, 226, 162);
    padding: 10px;
    border: 40px;
    padding: 10px
}

section p {
    line-height: 1.5rem;
}

h2.subtitle {
    color: rgb(124, 124, 124);
    font-style: italic;
}

a[target="_blank"] {
    color: rgb(153, 24, 24);
    text-decoration: underline;
}

button:hover {
background-color: blueviolet;
}

p:first-line {
    font-weight: bold;
}